extends ../components/base/layout

block variables
  - const title = "Test task Deus" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +mainscreen()
    +product()
    +features()
    +business-development('Новые тренды и инструменты для развития бизнеса', 'Персональная эксперт-сессия', 'Получить бесплатно')
    +products()
    +warranty()
    +task()
    +benefit()
    +business-development('Новые eCom тренды и инструменты для развития бизнеса', 'Персональная эксперт-сессия', 'Получить бесплатно')
    +partners()
    +accreditation()
    +media()

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()

