mixin accreditation()
  section.accreditation
    .container
      .accreditation__content
        .accreditation__desc
          h2.accreditation__title Участник реестра аккредитованных ИТ-компаний
          p.accreditation__paragraph eCom платформа является участником реестра аккредитованных ИТ-компаний
          .accreditation__certificate
            +icon("icon-cert", 50, 50)
            p.accreditation__paragraph Свидетельство о регистрации Минцифры ФФ-11222333-444555666-7
        +img("content", "eagle", "png", "Пример")
