mixin features()
  section.features
    h2.visually-hidden Наши особенности
    .container
      ul.features__list
        li.features__item
          .features__icon
            +icon("icon-cart", 46, 46)
          p.features__item-paragraph Разработка и автоматизация интернет-магазинов, маркетплейсов

        li.features__item
          .features__icon
            +icon("icon-quote", 46, 46)
          p.features__item-paragraph Проекты любой сложности и конфигурации с помощью модульной архитектуры

        li.features__item
          .features__icon
            +icon("icon-tick", 46, 46)
          p.features__item-paragraph ИТ-экспертиза и бизнес-консалтинг для достижения поставленных целей

        li.features__item
          .features__icon
            +icon("icon-search", 46, 46)
          p.features__item-paragraph Используем две модели развертывания SaaS
