mixin media()
  section.media
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .media__content
        .blog
          .blog__wrapper
            h2.blog__title Наш блог
            a(href="#") Все статьи
          ul.blog__list
            li.blog__item
              a(href="#") Как создать крупный интернет-проект с масштабными задачами — 3 этапа
            li.blog__item
              a(href="#") Как настроить управлением рабочим местом пользователя
            li.blog__item
              a(href="#") Топ-5 преимуществ IP-телефонии
            li.blog__item
              a(href="#") Шина для обмена данных – что это такое и как работает

        .press
          .press__wrapper
            h2.press__title Пресса о нас
          .press__list
            +icon('icon-tc', 80, 80)
            +icon('icon-vk', 100, 100)
            +icon('icon-rbc', 140, 140)
            +icon('icon-forbes', 100, 100)
            +icon('icon-bbc', 80, 80)
          p.press__paragraph Лучший молодежный IT стартап-проект, который выстрелил на весь интернет
