mixin warranty()
  section.warranty
    .container
      .warranty__content
        .warranty__title.title.title--h2 Запустим проект&nbsp;
          span быстро, эффективно, с гарантией
        ul.warranty__list
          li.warranty__item
            .warranty__icon
              +icon("icon-quote", 46, 46)
            .warranty__item-desc
              h3.warranty__item-title Платформа
              p.warranty__item-paragraph Разработка и кастомизация готовых B2B- и B2C-решений на базе eCom платформы Кипу под потребности бизнеса. Быстрый запуск MVP от 2-4 месяцев

          li.warranty__item
            .warranty__icon
              +icon("icon-glass", 46, 46)
            .warranty__item-desc
              h3.warranty__item-title Экспертиза
              p.warranty__item-paragraph Команда Кипу состоит из экспертов в области разработки eCom решений, практический опыт каждого из членов команды составляет более 10 лет, а общая насмотренность превышает 250 проектов

          li.warranty__item
            .warranty__icon
              +icon("icon-glasses", 46, 46)
            .warranty__item-desc
              h3.warranty__item-title Методология
              p.warranty__item-paragraph Каждый наш проект начинается, прежде всего, с разработки бизнес-логики, на базе которой строится ИТ-система. Расчет экономической модели проекта происходит уже на этапе исследования

          li.warranty__item
            .warranty__icon
              +icon("icon-team", 46, 46)
            .warranty__item-desc
              h3.warranty__item-title Команда
              p.warranty__item-paragraph Реализуем проекты любой сложности за счет горизонтального масштабирования ресурсов разработки с помощью партнерской программы

        button(type="button" data-open-modal="feedback").warranty__btn.btn.btn--blue-bg Обсудить ваш проект
